/* GLOBAL STILLAR */
* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
padding: 0;
margin: 0;
font-family:" Open sans" "Arial" sans-serif;
font-size: 16px;
line-height: 1.5;
background-color: #fff;
color: #444;
}
*:focus {
outline: 2px dotted #de2e54;
outline-offset: 2px;
}
    /* CONTAINER */
.container{
width: 100%;
max-width: 1160px;
padding-left: 30px;
padding-right: 30px;
margin-right: auto;
margin-left: auto;
}
/* site-header */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-container {
display: flex;
justify-content: space-between;
align-items: center;
}
/* SITE-LOGO */
.site-logo {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.site-logo-footer {
color: #fff;
}
.site-logo:hover{
  color: #de2e54;
}
.site-logo:active {
  opacity: 0.6;
}
.site-logo-footer:active {
color: #fff;
}
.site-logo-img {
margin-right: 16px;
border-radius: 50%;
}
  /* SITENAV */
  .sitenav {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
.sitenav-list {
display: flex;
align-items: center;
padding: 0;
margin: 0;
list-style: none;

}
.sitenav-item:not(:last-child){
margin-right: 32px;
}
.sitenav-link {
  color: #222;
  text-decoration: none;
display: block;

}

.sitenav-link:hover{
color: #de2e54;
}
.sitenav-link:active {
  opacity: 0.6;
}
.sitenav-site-footer a {
color: #fff;
}
.sitenav-site-footer a:hover {
  color: #de2e54;
}
.sitenav-site-footer a:active {
  color: #fff;
  opacity: 0.6;
}
/* MAIN-LINK */
.main-link {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 2px solid #de2e54 ;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Arial" sans-serif;
display: inline-block;
text-decoration: none;
background-color: #de2e54;
color: #fff;
}
.main-link:hover {
background-color:#fff;
color: #de2e54;
}
.main-link:active{
  background-color: #de2e54;
color: #fff;
opacity: 0.6;
}
.main-link-solid:hover {
  border: transparent;
background-color: rgba(222, 46, 84, 0.8);
color: #fff;

}
.main-link-solid:active {

background-color: rgba(222, 46, 84, 0.6);
opacity: 1;


}
.main-link-outline {
  border-color: #fff;
background-color: transparent;
color: #fff;
}
.main-link-outline:hover {
background-color: #de2e54;
color: #fff;

}

/* HERO */
.hero {
 background-color: #0eb4c1;
 color: #fff;
}
.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-content {
width: 500px;
padding-top: 120px;
padding-bottom: 120px;
}
.hero-heading {
margin-top: 0;
line-height: 1.2;
  font-family: sans-serif;
font-size: 36px;
letter-spacing:-2.87px;
margin-top: 0;
}
.hero-text {
width: 440px;
margin-top: 0;
margin-bottom: 36px;
letter-spacing: 1px;
}
.hero-img {
align-self: flex-end;
}
/* INDEX-SERVICES */
.index-services {
  padding-top: 120px;
  padding-bottom: 120px;
}
.index-services-heading {
  font-size: 36px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 56px;
  font-family:  "Open-sans" ,"Arial" , sans-serif;
margin-top: 0;
text-align: center;
}
.index-services-list {
  width: 864px;
  margin-left: auto;
  margin-right: auto;
padding: 0;
margin: 0;
list-style: none;
margin-bottom: 60px;
}
.index-services-item:not(:last-child) {
margin-bottom: 80px;

}
.index-service{
  display: flex;
  align-items: center;
}
.index-service-img {
width: 200px;
height: 200px;
border-radius: 24px;
object-fit: cover;
margin-right: 64px;
box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.30);

}
.index-service-content {
  width: 600px;
}
.index-service-title {
margin-top: 0;
margin-bottom: 24px;
color: #222;
}
.index-service-discription {
margin: 0;
}
.index-service-actions {
display: flex;
justify-content: center;
}
/* CTA */
.cta {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0eb4c1;
  color: #fff;
}
.cta-heading {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  font-family: "Arial" , "Open sana" sans-serif;
  margin-bottom: 40px;
text-align: center;
}
.cta-links {
display: flex;
justify-content: center;
align-items: center;
}
.cta-links-item:not(:last-child){
  margin-right: 40px;

}
/* SITE-FOOTER */
.site-footer {
padding-top: 24px;
padding-bottom: 24px;
background-color: #222;
color: #fff;
}
.site-footer-container {
display: flex;
justify-content: space-between;
align-items: center;
}
