/* GLOBAL STILLAR */
* {
  box-sizing: border-box;
}
body {
padding: 0;
margin: 0;
font-family:" Open sans" "Arial" sans-serif;
font-size: 16px;
line-height: 1.5;
background-color: #fff;
color: #444;
}
*:focus {
outline: 2px dotted #de2e54;
outline-offset: 2px;
}
    /* CONTAINER */
.container{
width: 100%;
max-width: 1160px;
padding-left: 30px;
padding-right: 30px;
margin-right: auto;
margin-left: auto;
}
/* site-header */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-container {
display: flex;
justify-content: space-between;
align-items: center;
}
/* SITE-LOGO */
.site-logo {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.site-logo:hover{
  color: #de2e54;
}
.site-logo:active {
  opacity: 0.6;
}
.site-logo-img {
margin-right: 16px;
}
  /* SITENAV */
  .sitenav {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
.sitenav-list {
display: flex;
align-items: center;
padding: 0;
margin: 0;
list-style: none;

}
.sitenav-item:not(:last-child){
margin-right: 32px;
}
.sitenav-link {
  color: #222;
  text-decoration: none;
display: block;

}
.sitenav-link:hover{
color: #de2e54;
}
.sitenav-link:active {
  opacity: 0.6;
}
/* MAIN-LINK */
.main-link {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 2px solid #de2e54 ;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Arial" sans-serif;
display: inline-block;
text-decoration: none;
background-color: #de2e54;
color: #fff;
}
.main-link:hover {

background-color: #fff;
color: #de2e54;
}
.main-link:active{
  background-color: #de2e54;
color: #fff;
opacity: 0.6;
}